html {
}

body {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial;
    max-width: 600px;
    font-size: 1.4em;
    background-color: hsla(0, 0%, 95%, 1);
    color: hsla(0, 0%, 20%, 1);
}

p {
    line-height: 1.5em;
}

h2 {
    line-height: 0.8em;
    font-size: 1.2em;
}


iframe {
    width: 100%;
    max-width: 600px;
    border: 2px solid black;
}